<footer id="footer-bar" class="row">
    <p id="footer-copyright" class="col-xs-12">
        Powered by ZhangCheng - <?php echo date('Y');?>.京ICP备14007760-2号 <a href="http://webscan.360.cn/index/checkwebsite/url/vipzhangcheng.cn" name="130db645b9c9e2f21d67bcbae32dfa74" >360网站安全检测平台</a>
    </p>
</footer>
</div>
</div>
</div>
</div>

<div id="config-tool" class="closed">
    <a id="config-tool-cog">
        <i class="fa fa-cog"></i>
    </a>

    <div id="config-tool-options">
        <!--
        <h4>Layout Options</h4>
        <ul>
            <li>
                <div class="checkbox-nice">
                    <input type="checkbox" id="config-fixed-header" />
                    <label for="config-fixed-header">
                        Fixed Header
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox-nice">
                    <input type="checkbox" id="config-fixed-sidebar" />
                    <label for="config-fixed-sidebar">
                        Fixed Left Menu
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox-nice">
                    <input type="checkbox" id="config-fixed-footer" />
                    <label for="config-fixed-footer">
                        Fixed Footer
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox-nice">
                    <input type="checkbox" id="config-boxed-layout" />
                    <label for="config-boxed-layout">
                        Boxed Layout
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox-nice">
                    <input type="checkbox" id="config-rtl-layout" />
                    <label for="config-rtl-layout">
                        Right-to-Left
                    </label>
                </div>
            </li>
        </ul>
        <br/>
        -->
        <h4>Skin Color</h4>
        <ul id="skin-colors" class="clearfix">
            <li>
                <a class="skin-changer" data-skin="" data-toggle="tooltip" title="Default" style="background-color: #34495e;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-white" data-toggle="tooltip" title="White/Green" style="background-color: #2ecc71;">
                </a>
            </li>
            <li>
                <a class="skin-changer blue-gradient" data-skin="theme-blue-gradient" data-toggle="tooltip" title="Gradient">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-turquoise" data-toggle="tooltip" title="Green Sea" style="background-color: #1abc9c;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-amethyst" data-toggle="tooltip" title="Amethyst" style="background-color: #9b59b6;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-blue" data-toggle="tooltip" title="Blue" style="background-color: #2980b9;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-red" data-toggle="tooltip" title="Red" style="background-color: #e74c3c;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-whbl" data-toggle="tooltip" title="White/Blue" style="background-color: #3498db;">
                </a>
            </li>
        </ul>
    </div>
</div>


<!-- global scripts -->
<script src="__CUBE__/js/demo-skin-changer.js"></script> <!-- only for demo -->

<script src="__CUBE__/js/jquery.js"></script>
<script src="__CUBE__/js/bootstrap.js"></script>
<script src="__CUBE__/js/jquery.nanoscroller.min.js"></script>
<script src="__CUBE__/js/demo.js"></script>
<!-- theme scripts -->
<script src="__CUBE__/js/scripts.js"></script>
<script src="__CUBE__/js/pace.min.js"></script>
<script>
    $('body').addClass('boxed-layout');
    try{
        var storage = window.localStorage

        var boxedLayout = localStorage.getItem('config-boxed-layout');

        if (boxedLayout != 'boxed-layout') {
            writeStorage(storage, 'config-boxed-layout', 'boxed-layout');
        }

    }catch (e){

    }


    function search_word()
    {
        var s = $('input[name=search_word]').val();

        window.open ('{$WEBSITE.url}/article/search?category='+s,'newwindow','height=600,width=800,top=100,left=200,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,location=no,status=no')
    }

</script>
<block name="after"></block>

</body>
</html>