<li class="current"> <a href="/index/index"> <i class="icon-dashboard"></i> 总览 </a> </li>
<li> <a href="#"> <i class="icon-desktop"></i> 网站数据统计 <span class="label label-info pull-right">7</span> <i class="arrow icon-angle-left"></i></a>
    <ul class="sub-menu">
        <li> <a href="#"> <i class="icon-angle-right"></i> IP记录图表 </a> </li>
        <li> <a href="#"> <i class="icon-angle-right"></i> 访问量图表 </a> </li>
        <li> <a href="/Links/index"> <i class="icon-angle-right"></i> 友情链接管理 </a> </li>

    </ul>
</li>