/*padding 统一为10px  计算 高度 宽度时 统一加20PX*/
input,textarea {
	width: 400px;
	padding: 5px;
	overflow: hidden;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF) ); /*webkit chrom safari*/
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	/*firfox*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE',
		endColorstr='#FFFFFF', GradientType='0' ); /*ie*/
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
	width: 400px;
	height: 200px;
	overflow: auto;
}

input:hover,textarea:hover,input:focus,textarea:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

input.submit {
	padding: 0px;
	text-align: center;
	width: 100px;
	color: #eee;
	text-transform: uppercase;
	margin-top: 10px;
	background-color: #46ab45;
	border: none;
	font-size: 14px;
	font-weight: bold;
	-webkit-transition: -webkit-box-shadow 0.3s linear;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#46a845),
		to(#90ee90) );
	background: -moz-linear-gradient(25% 75% 90deg, #90ee90, #46a845);
}

input.submit:hover {
	-webkit-box-shadow: 0px 0px 10px #555;
	-moz-box-shadow: 0px 0px 10px #aaa;
	box-shadow: 0px 0px 10px #555;
	cursor: pointer;
}