<extend name="Layout/index" />
<block name="content">

<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header"> <i class="icon-align-left"></i>
                <h3>Inputs </h3>
            </div>
            <div class="widget-content">
                <form method="post" action="__ACTION__" class="form-horizontal">
                    <fieldset>
                        <legend class="section">Horizontal form</legend>

                        <div class="control-group">
                            <div class="col-md-3">
                                <label for="normal-field" class="control-label">name</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="hidden" name="id" value="{$links.id}"/>
                                    <input type="text" name="name" value="{$links.name}" placeholder="May have placeholder" class="form-control" id="normal-field">
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="col-md-3">
                                <label for="normal-field" class="control-label">url</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" name="url" value="{$links.url}" placeholder="May have placeholder" class="form-control" id="normal-field">
                                </div>
                            </div>
                        </div>


                        <div class="control-group">
                            <div class="col-md-3">
                                <label for="normal-field" class="control-label">email</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" name="email" value="{$links.email}" placeholder="May have placeholder" class="form-control" id="normal-field">
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="col-md-3">
                                <label for="normal-field" class="control-label">status</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <select name="status" class="form-control">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <div class="form-actions">
                        <div>
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                            <button class="btn btn-default" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>

    </block>