/**/
#article_show {
	width: 100%;
	float: left;
	min-height: 100px;
	margin-top: 20px;
	background: #fff;
}

#article_list {
	width: 700px;
	min-height: 100px;
	float: left;
	background: #fff;
	margin-left: 50px;
}

.article_foreach_item {
	width: 700px;
	float: left;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	height: 165px;
	border-bottom: 1px solid #ddd;
}

.article_foreach_item_left {
	float: left;
	width: 250px;
	height: 165px;
	display: nline-block;
	text-align: center;
	line-height: 165px;
}

.article_foreach_item_left_bg {
	width: 248px;
	height: 163px;
	border: 1px solid #ddd;
	background-color:;
}

.article_foreach_item_left_bg img {
	margin: auto;
	margin-top: 18px;
}

.article_foreach_item_right {
	float: right;
	width: 430px;
	padding-left: 20px;
	max-height: 165px;
	height: 165px;
	display: block;
	text-align: left;
	overflow: hidden;
}

.article_foreach_item_right_title {
	float: left;
	width: 430px;
	height: 20px;
}

.article_foreach_item_right_title a {
	color: #464646;
	text-decoration: none;
	font: 12px/1.125 "Helvetica Neue", Helvetica, STheiti, Arial, Tahoma,
		微软雅黑, sans-serif, serif;
	font-size: 20px;
	width: 430px;
	height: 20px;
}

.article_foreach_item_right_title a:hover {
	color: #45e1f9;
}

.article_foreach_item_right_simple {
	float: left;
	width: 430px;
	font-size: 14px;
	color: #545454;
	line-height: 24px;
	margin-top: 10px;
	height: 72px;
	max-height: 72px;
	overflow: hidden;
}

.article_foreach_item_right_category {
	border-top: 1px solid #ddd;
	float: left;
	width: 430px;
	font-size: 14px;
	color: #646464;
	line-height: 32px;
	margin-top: 30px;
	max-height: 32px;
	text-align: right;
	overflow: hidden;
	color: #fff;
}

.article_foreach_item_right_category span {
	display: block;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	height: 32px;
}

.article_foreach_item_right_category span a {
	height: 32px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #2b8cb9;
	color: #fff;
	text-decoration: none;
}

.article_date_cp {
	position: absolute;
	float: left;
	left: -30px;
	top: -2px;
	display: block;
	width: 80px;
	height: 48px;
	z-index: 1;
}

.article_date_cp2 {
	position: absolute;
	left: 0px;
	top: -4px;
	display: block;
	width: 80px;
	height: 48px;
	z-index: 5;
	margin-top: 5px;
	font-family: Tahoma, 微软雅黑, Helvetica, Arial, sans-serif;
}

.article_date_cp2 .p1 {
	text-align: right;
	width: 40px;
	color: #fff;
}

.article_date_cp2 .p2 {
	font-size: 12px;
	color: #fff;
}

.article_tip_show {
	position: relative;
	float: left;
	left: 350px;
	top: -30px;
	width: 288px;
	height: 170px;
	background-position: -288px -340px;
	background-image: url("../../img/background/shutterstock_25790068.jpg");
}

.article_foreach_item_title {
	width: 630px;
	float: left;
	padding-left: 70px;
	min-height: 44px;
	line-height: 44px;
	font-size: 16px;
	color: #2398de;
	margin-top: 0;
	border-bottom: 1px dashed #dadcdf;
	word-break: break-all;
	word-wrap: break-word;
}

.article_foreach_item_title a {
	font-size: 18px;
	color: #349fd0;
}

.article_foreach_item_content {
	width: 650px;
	float: left;
	padding-left: 25px;
	padding-right: 25px;
	min-height: 30px;
	line-height: 25px;
	font-size: 16px;
	font-family:;
	font-color: #666 /*#2a00e1*/;
	word-break: break-all;
	word-wrap: break-word;
}

.article_foreach_item_bottom {
	width: 100%;
	float: right;
	min-height: 20px;
	texxt-align: right;
}

.article_foreach_item_bottom span {
	margin-right: 10px;
	display: inline-block;
	text-align: left;
	min-width: 29px;
	height: 27px;
	line-height: 27px;
	float: right;
	font-size: 16px;
}

.article_foreach_item_bottom span i {
	float: left;
	margin-right: 5px;
	background-repeat: no-repeat;
	/*width:35px;
	height:38px;
	background-image:url("../../img/background/dropdown_menu.png");
	
	*/
	width: 29px;
	height: 27px;
}

.sp1 i { /*background-position:-35px 0px;*/
	background-image: url("../../img/ui/uaer.png");
}

.sp2 i { /*background-position:-70px 0px;*/
	background-image: url("../../img/ui/uaer.png");
}

.sp2 {
	color: #fdc682;
}

.sp1 {
	color: #277ed3;
}

.sp3 i { /*background-position:-175px 0px;*/
	background-image: url("../../img/ui/maess.png");
}

.sp4 i { /*background-position:-105px 0px;*/
	background-image: url("../../img/ui/heart.png");
}

.sp4 a {
	font-size: 16px;
	text-decoration: none;
	color: #cd483b;
}

.sp3 a {
	font-size: 16px;
	text-decoration: none;
	color: #558c23;
}